build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

# Enable the built-in platform-specific configuration feature
common --enable_platform_specific_config

# Apply this flag only when building on/for macOS
build:macos --macos_minimum_os=10.15

# For all builds, use C++17
build --cxxopt="-std=c++17"
build --cxxopt='-Wno-sign-compare'

# For Apple Silicon
build:apple_silicon --cpu=darwin_arm64

# Common flags for Clang
build:clang --action_env=BAZEL_COMPILER=clang
build:clang --action_env=CC=clang --action_env=CXX=clang++
build:clang --copt="-Wno-reserved-macro-identifier"
build:clang --copt="-Wunused-parameter"

#build:clang --linkopt=-fuse-ld=lld

# Clang with libc++
build:libc++ --config=clang
build:libc++ --action_env=CXXFLAGS=-stdlib=libc++
build:libc++ --action_env=LDFLAGS=-stdlib=libc++
build:libc++ --action_env=BAZEL_CXXOPTS=-stdlib=libc++
build:libc++ --action_env=BAZEL_LINKLIBS=-l%:libc++.a:-l%:libc++abi.a
build:libc++ --action_env=BAZEL_LINKOPTS=-lm:-pthread
build:libc++ --define force_libcpp=enabled

